
@{
    ViewData["Title"] = "StartView";
    Layout = "_ManagerLayout";
}

<h2>Ärenden</h2>
<p class="info">Du är inloggad som avdelningschef</p>

<table id="managerForm">
    <tr>
        <td class="label">Välj status:</td>
        <td class="label">Välj handläggare:</td>
        <td>&nbsp;</td>
        <td class="label">Ärendenummer:</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            @await Html.PartialAsync("_StatusDropDownLayout")
        </td>
        <td>
            @await Html.PartialAsync("_InvestigatorDropDownLayout")
        </td>
        <td><input class="button" type="submit" value="Hämta lista" /></td>
        <td><input name="casenumber" /></td>
        <td><input class="button" type="submit" value="Sök" /></td>
    </tr>
</table>

<!--Nedan ser man en lista på ärenden-->
<table>
    <tr>
        <th>Ärende anmält</th>
        <th>Ärendenummer</th>
        <th>Miljöbrott</th>
        <th>Status</th>
        <th>Avdelning</th>
        <th>Handläggare</th>
    </tr>
    @foreach(Errand e in Model.Errands)
    {
        <tr>
            <td>@e.DateOfObservation</td>
            <td><a asp-controller="Manager" asp-action="Crime" asp-route-id=@e.ErrandID>@e.RefNumber</a></td>
            <td>@e.TypeOfCrime</td>
            <td>@e.StatusId</td>
            <td>@e.DepartmentId</td>
            <td>@e.EmployeeId</td>
        </tr>
    }
</table>
